* {
    padding: 1rem;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 1rem;
   display: flex;
}

.contenido_hielo img {
    width: 50%;
    display: flex;
}
.contenido_fuego img {
    width: 50%;
    display: flex;
}
.contenido_aire img {
    width: 50%;
    display: flex;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    text-shadow: 5px  5px 5px green;
    }

body {
    background-color: green;
    background-image: url("./img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
