* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}


/* header {
    background-color: rgb(118, 118, 126);
} */
.container {
    position: relative;
    margin: 0px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    text-shadow: 5px  5px 5px green;
    }


/* .contenido_verde {
    background-color: rgb(21, 180, 92)
}

.video_plantas {
    background-color: blue;
} */

body {
    background-color: green;
    background-image: url("./img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
