* {
    text-decoration: none;
}

body {
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario{
    padding: 4rem;
    margin: 2rem;
}

.formulario input, .formulario textarea, .formulario select {
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 1rem;
    border-radius: 5px 5px;
}

.boton{
    padding: 0.5;
    width: 20%;
    height: 30px;
    border-color: greenyellow;
    border-radius: 5px;
    border-bottom: 1px;
}

button:hover{
    color: white;
    background-color: red;
}

.titulo_h2{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    color: black;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

a {
    text-decoration: none;
}
