:root {
        --ic-brand-primary-darkened-5: #005A4C;
--ic-brand-primary-darkened-10: #005548;
--ic-brand-primary-darkened-15: #005044;
--ic-brand-primary-lightened-5: #0C6658;
--ic-brand-primary-lightened-10: #196E61;
--ic-brand-primary-lightened-15: #26766A;
--ic-brand-button--primary-bgd-darkened-5: #005A4C;
--ic-brand-button--primary-bgd-darkened-15: #005044;
--ic-brand-button--secondary-bgd-darkened-5: #005A4C;
--ic-brand-button--secondary-bgd-darkened-15: #005044;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-28: #677179;
--ic-link-color-darkened-10: #005848;
--ic-link-color-lightened-10: #197061;
--ic-brand-primary: #005e50;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #006150;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #005e50;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #005e50;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #7f817f;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #005e50;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_72740000000000001/attachments/17658/siglo21_logo.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1938089955&Signature=imAQmuVNhsRLHfMz3n2ndpaGHZA%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: url('https://instructure-uploads.s3.amazonaws.com/account_72740000000000001/attachments/2/ilumno-logo_white.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1929711171&Signature=AGaeczC5ZDcjgrFDGK4Yt7VXg3o%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_72740000000000001/attachments/17686/siglo21_logo-2.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1938098391&Signature=EjV1tKTnV33TcDD5savdOJ%2FWVFc%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_72740000000000001/attachments/3/ilumno-icono_180_white.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1929711171&Signature=jvQ4rDHWquNXLybdWk%2Fn5K0s2vM%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_72740000000000001/attachments/3/ilumno-icono_180_white.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1929711171&Signature=jvQ4rDHWquNXLybdWk%2Fn5K0s2vM%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_72740000000000001/attachments/6/ilumno-logo_white_center.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1929711172&Signature=p7ANxsH%2BOvIS0eu8ZCjhkY2J1%2FQ%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads.s3.amazonaws.com/account_72740000000000001/attachments/7/1cubo.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1929711172&Signature=f3Axhq5K%2BudUxUDr430mQ3SHocg%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-Login-body-bgd-color: #005e50;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads.s3.amazonaws.com/account_72740000000000001/attachments/353/Login-page-foto.jpg?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1931436339&Signature=8qsMJ1OYbMXP5H5KHdJK%2Bf%2BNERo%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_72740000000000001/attachments/8015440/siglo21_logo-4.png');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: #013028;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }